---
import EntrySection from "../components/EntrySection.astro";
import RelatedTopicCard from "../components/RelatedTopicCard.astro";
import { Align, fromAlignString } from "../align";
import {
    getLocaleUI,
    getSection,
    getSectionData,
    getLocalizedProperty,
    setupMultilangPage,
} from "../multilang";
import { locale_cookie, $entry } from "../multilang-store";
import { getEntry } from "astro:content";

interface Props {
    collection: string;
}

const { collection } = Astro.props;

const entry_id = Astro.params.entry;

try {
    (await getEntry(collection, entry_id)).rendered?.metadata?.section_ids;
} catch (e) {
    console.log(e);
    return Astro.redirect(`/${collection}`);
}
await setupMultilangPage(
    collection,
    entry_id,
    Astro.cookies.get(locale_cookie)?.value,
    Astro.preferredLocale,
);

const sections = $entry.get().rendered?.metadata?.section_ids;
---

<article
    class="flex flex-col items-center min-h-screen w-full justify-center flex-wrap flex-grow"
>
    <!-- Hero Section -->
    <div class="w-full max-w-7xl px-4 py-16">
        <h1 class="text-4xl md:text-6xl font-bold text-center mb-12">
            {getLocalizedProperty($entry.get().data.title)}
        </h1>
        <div class="grid grid-cols-2">
            <div class="order-1"></div>
            <div class="order-2"></div>
        </div>
        <div class="mb-4 place-items-center">
            <div class="w-full sm:min-w-[500px]">
                <img
                    src={$entry.get().data.featuredImage}
                    alt=""
                    class="w-full h-full object-cover"
                    width="1920"
                    height="1080"
                />
            </div>
            <p
                class="text-sm text-center mt-2 text-gray-400 italic"
                set:html={sections.includes("feat-cap")
                    ? await getSection("feat-cap", true)
                    : ""}
            />
        </div>

        <p
            class="max-w-3xl mx-auto text-center text-lg leading-relaxed"
            set:html={await getSection("introduction")}
        />
    </div>

    <!-- Content Sections -->
    <div class="w-full max-w-7xl px-4 py-16 space-y-32">
        {
            sections
                .filter(
                    (section_id) =>
                        section_id != "introduction" &&
                        section_id != "feat-cap",
                )
                .map(async (section_id) => (
                    <EntrySection
                        title={getLocalizedProperty(
                            getSectionData(section_id).title,
                        )}
                        content={await getSection(section_id, true)}
                        imageUrl={getSectionData(section_id).image}
                        align={fromAlignString(
                            getSectionData(section_id).align,
                        )}
                    />
                ))
        }
    </div>
    <!-- Related Topics Section -->
    {
        $entry.get().data.relations && (
            <div class="w-full max-w-7xl px-4 py-16">
                <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">
                    RELATED TOPICS
                </h2>

                <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-8">
                    {$entry.get().data?.relations.map(async (relation) => {
                        const parts = relation.split("/");
                        const relatedEntry = await getEntry(parts[0], parts[1]);
                        return (
                            <RelatedTopicCard
                                title={getLocalizedProperty(
                                    relatedEntry.data.title,
                                )}
                                imageUrl={relatedEntry.data.featuredImage}
                                link={`/${collection}/${relation.id}`}
                            />
                        );
                    })}
                </div>
            </div>
        )
    }
</article>
