---
import { getLocaleUI } from "../multilang";

interface Props {
    title: string;
    content: string;
    image: string;
    link: string;
}

const { title, content, image, link } = Astro.props;
---

<div
    class="bg-[#D9D9D9] text-black rounded-3xl p-8 flex flex-col h-[500px] max-w-[400px]"
>
    <h3 class="text-2xl font-bold mb-6">
        {title}
    </h3>

    <p class="flex-grow text-lg">
        {content}
    </p>

    <img src={image} alt={title} class="mt-6" />
    <a
        href={link}
        class="text-black font-bold text-lg mt-6 hover:opacity-70 transition-opacity"
    >
        {getLocaleUI("read_more")}
    </a>
</div>
