---
import { Align } from "../align";

interface Props {
    title: string;
    content: string;
    imageUrl?: string;
    align: Align;
}

const { title, content, imageUrl, align } = Astro.props;

const baseClasses = "grid md:grid-cols-2 gap-8 items-center";

const classes = {
    [Align.Left]: baseClasses,
    [Align.Right]: `${baseClasses} md:grid-flow-dense reverse`,
    [Align.Center]: `grid grid-cols-1 gap-8 items-center text-center`,
};
---

<div class={classes[align]}>
    <div style="direction: ltr">
        <h2 class="text-3xl md:text-4xl font-bold mb-6">{title}</h2>
        <div class="text-lg leading-relaxed" set:html={content} />
    </div>
    <div
        class={`${align == Align.Center ? "max-w-[500px] justify-self-center" : "w-full h-[300px] md:h-[400px]"} md:order-${align == Align.Right ? 1 : 2}`}
    >
        <img src={imageUrl} alt="" class="w-full h-full object-cover" />
    </div>
</div>

<style>
    @media screen and (min-width: 768px) {
        .reverse {
            direction: rtl;
        }
    }
</style>
